html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #555;
  color: #eee;
  font: caption;
}

canvas {
  margin: auto;
  width: 100% !important;
  height: 100% !important;
  object-fit: contain;
}
